// @mixin cardThumb($height) {
//     max-height: $height;

// }

@mixin cardCard ($width, $height) {
    width: $width;
    height: $height;

}

@mixin cardThumb($height, $width) {
    height: $height;
    width: $width;

}

@mixin cardTitlePrice($fsize, $fweight, $txtalign, $padding) {
    font-size: $fsize;
    font-weight: $fweight;
    text-align: $txtalign;
    padding: $padding;
}



// .card {


// }
.itemContainer {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    //Var    
    //width: 200px;
    height: 340px;
    margin: 10px 10px 10px 10px;
    
    .thumbnail {
        margin-top: 18px;
        height: 100px;
        width: auto;
    }

    .title {
        font-size: large;
        color: rgb(22, 11, 8);
        padding: 10px 18px 0px 18px;
    }
    .priceContainer{
        //var
       

        background-color: cornflowerblue;
        border-radius: 0px 0px 10px 10px;
        .price{
            color: white;
        }
    }
}
@media  (max-width : 300px )  {
    .itemContainer{
        width: 95vw;
    }
    .priceContainer{
        width: 95vw;

    }
  
  }


