// @mixin cardThumb($height) {
//     max-height: $height;

// }

@mixin itemContainer ($margin, $width, $height) {
    margin: $margin;
    width: $width;
    min-height: $height;
}

@mixin thumbnail ($padding, $width, $height) {
    padding-top: $padding;
    width: $width;
    height: $height;
}

@mixin priceContainer ($width) {
    width: $width;
}

@mixin price ($padding, $fsize) {
    padding: $padding;
    font-size: $fsize;
}



.itemContainer {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.title {
    font-size: large;
    color: rgb(22, 11, 8);
    padding: 10px 18px 0px 18px;
    //Keeps maximum 2 lines description
    --max-lines: 2;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);

}


.priceContainer {
    //var
    background-color: cornflowerblue;
    border-radius: 0px 0px 10px 10px;
    width: 100%;

    .price {
        color: white;
    }
}


@media (min-width : 0px) {

    .itemContainer {
        //@mixin itemContainer ($margin, $width, $height)
        @include itemContainer(15px, 95vw, 120vw);
    }

    .thumbnail {
        //@mixin thumbnail ($padding, $width, $height)
        @include thumbnail(25px, auto, 50vw);
    }

    .priceContainer {
        //@mixin priceContainer ($width)
        @include priceContainer(100%);
    }

    .price {
        //@mixin price ($padding, $fontSize)
        @include price(15px, 25px);
    }
}

@media (min-width : 300px) {

    .itemContainer {
        //@mixin itemContainer ($margin, $width, $height)
        @include itemContainer(15px, 95vw, 120vw);
    }

    .thumbnail {
        //@mixin thumbnail ($padding, $width, $height)
        @include thumbnail(25px, auto, 50vw);
    }

    .priceContainer {
        //@mixin priceContainer ($width)
        @include priceContainer(100%);
    }

    .price {
        //@mixin price ($padding, $fontSize)
        @include price(15px, 25px);

    }
}

.priceContainer {
    //var
    background-color: cornflowerblue;
    border-radius: 0px 0px 10px 10px;
    width: 100%;

    .price {
        color: white;
    }
}


@media (min-width : 0px) {

    .itemContainer {
        //@mixin itemContainer ($margin, $width, $height)
        @include itemContainer(15px, 95vw, 120vw);
    }

    .thumbnail {
        //@mixin thumbnail ($padding, $width, $height)
        @include thumbnail(25px, auto, 50vw);
    }

    .priceContainer {
        //@mixin priceContainer ($width)
        @include priceContainer(100%);
    }

    .price {
        //@mixin price ($padding, $fontSize)
        @include price(15px, 25px);
    }
}

@media (min-width : 350px) {

    .itemContainer {
        //@mixin itemContainer ($margin, $width, $height)
        @include itemContainer(20px, 95vw, 120vw);
    }

    .thumbnail {
        //@mixin thumbnail ($padding, $width, $height)
        @include thumbnail(25px, auto, 52vw);
    }

    .priceContainer {
        //@mixin priceContainer ($width)
        @include priceContainer(100%);
    }

    .price {
        //@mixin price ($padding, $fontSize)
        @include price(15px, 25px);

    }
}

@media (min-width : 445px) {

    .itemContainer {
        //@mixin itemContainer ($margin, $width, $height)
        @include itemContainer(20px, 95vw, 100vw);
    }

    .thumbnail {
        //@mixin thumbnail ($padding, $width, $height)
        @include thumbnail(25px, auto, 52vw);
    }

    .priceContainer {
        //@mixin priceContainer ($width)
        @include priceContainer(100%);
    }

    .price {
        //@mixin price ($padding, $fontSize)
        @include price(15px, 25px);

    }
}

//===================
@media (min-width : 480px) {

    .itemContainer {
        //@mixin itemContainer ($margin, $width, $height)
        @include itemContainer(20px, 95vw, 100vw);
    }

    .thumbnail {
        //@mixin thumbnail ($padding, $width, $height)
        @include thumbnail(30px, auto, 45vw);
    }

    .priceContainer {
        //@mixin priceContainer ($width)
        @include priceContainer(100%);
    }

    .price {
        //@mixin price ($padding, $fontSize)
        @include price(15px, 25px);

    }
}

//===================
@media (min-width : 600px) {

    .itemContainer {
        //@mixin itemContainer ($margin, $width, $height)
        @include itemContainer(20px 10px 0px 10px, 45vw, 50vw);

    }

    .thumbnail {
        //@mixin thumbnail ($padding, $width, $height)
        @include thumbnail(30px, auto, 20vw);
    }

    .priceContainer {
        //@mixin priceContainer ($width)
        @include priceContainer(100%);
    }

    .price {
        //@mixin price ($padding, $fontSize)
        @include price(15px, 25px);

    }
}

//===================
@media (min-width : 1280px) {

    .itemContainer {
        //@mixin itemContainer ($margin, $width, $height)
        @include itemContainer(20px 10px 0px 10px, 20vw, 30vw);

    }

    .thumbnail {
        //@mixin thumbnail ($padding, $width, $height)
        @include thumbnail(30px, auto, 10vw);
    }

    .priceContainer {
        //@mixin priceContainer ($width)
        @include priceContainer(100%);
    }

    .price {
        //@mixin price ($padding, $fontSize)
        @include price(15px, 25px);

    }
}

//===================
@media (min-width : 1366px) {

    .itemContainer {
        //@mixin itemContainer ($margin, $width, $height)
        @include itemContainer(20px 10px 0px 10px, 20vw, 25vw);

    }

    .thumbnail {
        //@mixin thumbnail ($padding, $width, $height)
        @include thumbnail(30px, auto, 10vw);
    }

    .priceContainer {
        //@mixin priceContainer ($width)
        @include priceContainer(100%);
    }

    .price {
        //@mixin price ($padding, $fontSize)
        @include price(15px, 25px);

    }
}

//===================
@media (min-width : 1920px) {

    .itemContainer {
        //@mixin itemContainer ($margin, $width, $height)
        @include itemContainer(20px 10px 0px 10px, 15vw, 22vw);

    }

    .thumbnail {
        //@mixin thumbnail ($padding, $width, $height)
        @include thumbnail(30px, auto, 10rem);
    }

    .priceContainer {
        //@mixin priceContainer ($width)
        @include priceContainer(100%);
    }

    .price {
        //@mixin price ($padding, $fontSize)
        @include price(15px, 25px);

    }
}

//===================
@media (min-width : 2560px) {

    .itemContainer {
        //@mixin itemContainer ($margin, $width, $height)
        @include itemContainer(20px 10px 0px 10px, 10vw, 15vw);

    }

    .thumbnail {
        //@mixin thumbnail ($padding, $width, $height)
        @include thumbnail(30px, auto, 9rem);
    }

    .priceContainer {
        //@mixin priceContainer ($width)
        @include priceContainer(100%);
    }

    .price {
        //@mixin price ($padding, $fontSize)
        @include price(15px, 25px);

    }
}