#showcaseProducts {

    width: 100%;
    background-color: #1F5ED2;
    background-image: "assets/images/hero.png";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    #products {
        background-color: white;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-start;


    }
}